<!DOCTYPE html>
<html data-swagger-options="<%= GrapeSwaggerRails.options.to_json %>">
<head>
  <title><%= GrapeSwaggerRails.options.app_name || 'Swagger UI' %></title>
  <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
  <%= stylesheet_link_tag 'grape_swagger_rails/application.css' %>
  <%= javascript_include_tag 'grape_swagger_rails/application.js' %>
  <script type="text/javascript">
	$(function () {
	  var options = $("html").data('swagger-options');
	  
    window.swaggerUi = new SwaggerUi({
      url: options.app_url + options.url,
      dom_id:"swagger-ui-container",
      supportHeaderParams: true,
      headers: options.headers,
      supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
      onComplete: function(swaggerApi, swaggerUi){
        if('console' in window) {
          console.log(swaggerUi);
        }
        $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
      },
      onFailure: function(data) {
        if('console' in window) {
          console.log(data);
        }
      },
      docExpansion: "none"
    });

    $('#input_apiKey').change(function() {
      var key = $('#input_apiKey')[0].value;
      
      if(key && key.trim() != "") {
        if (options.api_auth == 'basic') {
          key = "Basic " + Base64.encode(key);
        }
        window.authorizations.add("key", new ApiKeyAuthorization(options.api_key_name, key, options.api_key_type));
      } else {
        window.authorizations.add("key", null);
      }
    })

    <% if GrapeSwaggerRails.options.api_app_id_name %>
      $('#input_apiAppId').change(function() {
        var key = $('#input_apiAppId')[0].value;

        if(key && key.trim() != "") {
          if (options.api_auth == 'basic') {
            key = "Basic " + Base64.encode(key);
          }
          window.authorizations.add("keyDos", new ApiKeyAuthorization(options.api_app_id_name, key, options.api_app_id_type));
        } else {
          window.authorizations.add("key", null);
        }
      })
    <% end %>

    window.swaggerUi.load();
  });
  </script>
</head>

<body>
<div id='header'>
  <div class="swagger-ui-wrap">
    <a id="logo" href="<%= GrapeSwaggerRails.options.app_url %>"><%= GrapeSwaggerRails.options.app_name %></a>

    <form id='api_selector'>
      <% unless GrapeSwaggerRails.options.hide_base_url %><div class='input'><input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text"/></div><% else %><input id="input_baseUrl" name="baseUrl" type="hidden"/><% end %>

      <% if GrapeSwaggerRails.options.api_app_id_name %>
        <div class='input'>
          <input placeholder="app_id" id="input_apiAppId" name="apiAppId" type="text"/>
        </div>
      <% end %>

      <% if GrapeSwaggerRails.options.api_key_name %><div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div><% end %>
      
      <% if !GrapeSwaggerRails.options.hide_base_url || GrapeSwaggerRails.options.api_key_name %>
        <div class='input'><a id="explore" href="#">Go</a></div>
      <% end %>

      
    </form>
  </div>
</div>

<div id="message-bar" class="swagger-ui-wrap">
  &nbsp;
</div>

<% if GrapeSwaggerRails.options.app_description %>
<div id="app_description" class="swagger-ui-wrap">
  <%= GrapeSwaggerRails.options.app_description.html_safe %>
</div>
<% end %>

<div id="swagger-ui-container" class="swagger-ui-wrap">

</div>

</body>

</html>
